language: php

sudo: false

php: [5.4, 5.5, 5.6, 7.0, hhvm]

matrix:
  fast_finish: true

cache:
  directories:
    - $HOME/.composer/cache

before_install:
  - composer self-update

install:
  - composer install --no-interaction --prefer-source

script:
  - bin/phpspec run --no-interaction --format=pretty
  - bin/phantomjs --webdriver=4444 &
  - bin/behat --no-interaction --no-snippets --stop-on-failure --format=pretty --profile=travis-ci